<form action="/update_director" method="post">
  <label for="name_director">Name</label>
  <input type="text" name="name_director" id="name_director" value="<%= @the_director.name %>">

  <div>
    <label for="dob_director">Dob</label>
    <input type="date" name="dob_director" id="dob_director" value="<%= @the_director.dob %>">
  </div>

  <div>
    <label for="bio_director">Bio</label>
    <input type="text" name="bio_director" id="bio_director" value="<%= @the_director.bio %>">
  </div>

  <div>
    <label for="image_director">Image</label>
    <input type="text" name="image_director" id="image_director" value="<%= @the_director.image %>">
  </div>

  <button type="submit">Update director</button>
</form>

<div>
  <a href="/delete_director/<%= @the_director.id %>">Delete director</a>
</div>
