<h1>Movie #<%= @the_movie.id %> details</h1>

<a href="/movies">Go back</a>

<hr>

<dl>
  <dt>Title</dt>
  <dd><%= @the_movie.title %></dd>

  <dt>Year</dt>
  <dd><%= @the_movie.year %></dd>

  <dt>Duration</dt>
  <dd><%= @the_movie.duration %></dd>

  <dt>Description</dt>
  <dd><%= @the_movie.description %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @the_movie.image %>" style="width:250px;"></dd>

  <dt>Director</dt>
  <dd>
    <% if @the_director %>
      <a href="/directors/<%= @the_director.id %>"><%= @the_director.name %></a>
    <% else %>
      Unknown
    <% end %>
  </dd>
</dl>

