<h1>Actor #<%= @the_actor.id %> Details</h1>

<a href="/actors">Go back</a>

<hr>

<dl>
  <dt>Name</dt>
  <dd><%= @the_actor.name %></dd>

  <dt>Dob</dt>
  <dd><%= @the_actor.dob %></dd>

  <dt>Bio</dt>
  <dd><%= @the_actor.bio %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @the_actor.image %>" style="width:250px;"></dd>
</dl>

<hr>

<h2>Characters Played</h2>
<ul>
  <% @characters.each do |character| %>
    <li><%= character.name %></li>
  <% end %>
</ul>

<hr>

<h2>Directors of Movies</h2>
<ul>
  <% @movies_with_directors.each do |movie_info| %>
    <% if movie_info[:movie] && movie_info[:director] %>
      <li>
        <%= movie_info[:director].name %> (from <%= movie_info[:movie].title %>)
      </li>
    <% elsif movie_info[:movie] %>
      <li>
        Unknown Director (from <%= movie_info[:movie].title %>)
      </li>
    <% end %>
  <% end %>
</ul>
