<form action="/update_actor" method="post">
  <label for="name_actor">Name</label>
  <input type="text" name="name_actor" id="name_actor" value="<%= @the_actor.name %>">

  <div>
    <label for="dob_actor">Dob</label>
    <input type="date" name="dob_actor" id="dob_actor" value="<%= @the_actor.dob %>">
  </div>

  <div>
    <label for="bio_actor">Bio</label>
    <input type="text" name="bio_actor" id="bio_actor" value="<%= @the_actor.bio %>">
  </div>

  <div>
    <label for="image_actor">Image</label>
    <input type="text" name="image_actor" id="image_actor" value="<%= @the_actor.image %>">
  </div>

  <button type="submit">Update actor</button>
</form>

<div>
  <a href="/delete_actor/<%= @the_actor.id %>">Delete actor</a>
</div>
